.searchBar {
  width: 100%;
}

.inputSearchCity,
.inputSearchCity:focus {
  background-color: #fff;
  border: 1px solid #eaf6f6;
  border-radius: 5px;
  color: #000;
  font-family: "Quicksand-Regular";
  font-size: 1rem;
  margin-right: 5px;
  outline: none;
  padding: 10px;
}

.buttonSearchCity {
  background-color: #1363df;
  border: 1px solid #47b5ff;
  border-radius: 5px;
  color: #fff;
  font-family: "Quicksand-Regular";
  font-size: 1rem;
  outline: none;
  padding: 10px 14px;
  transition: all 0.3s ease;
}

.buttonSearchCity:hover {
  background-color: #fff;
  color: #47b5ff;
  cursor: pointer;
}
